
body,html{
 
  background: url(tree.webp) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;

}
#text{
  font-family: 'Roboto', sans-serif;
color: red;
}
